<div class="container">
    <div class="row" style="text-align:left">
        <div class="col-md-12">
            <form #createBlogForm='ngForm' (ngSubmit)="createBlog()">
                <div class="form-group">
                    <label>Blog Title</label>
                    <input type="text" name="title" [(ngModel)]="title" #blogtitle="ngModel" class="form-control"
                        placeholder="enter title" required>
                </div>
                <div [hidden]="blogtitle.valid || blogtitle.pristine" class="alert alert-danger">
                    Blog Title is required
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" [(ngModel)]="description" #blogDescription="ngModel"
                        class="form-control" placeholder="enter description" required>
                    <div [hidden]="blogDescription.valid || blogDescription.pristine" class="alert alert-danger">
                        Blog Description is required
                    </div>
                </div>
                <div class="form-group">
                    <label>blogBody</label>
                    <input type="text" name="blogBody" [(ngModel)]="blogBody" #blogBodyText="ngModel" class="form-control"
                        placeholder="enter blogBody" required> 
                    <div [hidden]="blogBodyText.valid || blogBodyText.pristine" class="alert alert-danger">
                        Blog blogBody is required
                    </div>
                </div>
                <div class="form-group">
                    <label>category</label>
                    <select  name="category" [(ngModel)]="category" #blogCategory="ngModel" class="form-control"
                          required>
                        <option *ngFor="let category of possibleCategory"[value]="category">{{category}}</option>    
                    </select>
                    <div [hidden]="blogCategory.valid || blogCategory.pristine" class="alert alert-danger">
                        Blog blogBody is required
                    </div>
                </div>
                <button type="submit" class="btn btn-default" [disabled]="!createBlogForm.form.valid">Post Blog</button>
            </form>
        </div>
    </div>
</div>